[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
django = "==4.0.8"
django-tastypie = "*"

[dev-packages]

[requires]
python_version = "3.8"
