altgraph==0.17.4
buildozer==1.5.0
certifi==2025.1.31
distlib==0.3.9
filelock==3.16.1
importlib_metadata==8.5.0
numpy==1.24.4
packaging==24.2
pefile==2023.2.7
pexpect==4.9.0
pipenv==2024.4.1
platformdirs==4.3.6
ptyprocess==0.7.0
pygame==2.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pywin32-ctypes==0.2.3
sh==2.1.0
virtualenv==20.28.0
zipp==3.20.2
Django==3.2.25
django-tastypie==0.14.5